/* about and skills */

.about-ctn,
.skills-ctn {
    text-align: center;
    padding: 40px 10px;
    max-width: 600px;
    margin: 0 auto;
}

.about-ctn h3,
.skills-ctn h3 {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {

    .about-ctn,
    .skills-ctn {
        max-width: 300px;
    }

}

.skills-ctn ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skills-ctn ul li {
    padding: 5px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: rgba(222, 96, 117, 0.764);
    color: #fffffff5;
}