*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body{
    font-family:'Open Sans', Arial, sans-serif;
    color: #333;
    font-size: 1.08rem;
    background-color: #ffffff;
}

main div img{
    width: 600px;
    height: auto;
    object-fit: cover;
}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
    background-image: url(../background-img/certificates-bg.jpg);
}

main div{
    margin: 10px;
    padding: 10px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

@media(width<700px){
    main div img{
        width: 100%;
        height: auto;
    }

    main div{
        margin: 5px;
    }
}