.certificate-container{
    display: flex;
    flex-direction: column;
    user-select: none;
    -webkit-user-drag: none;
}

.certificate-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spanPrev,
.spanNext{
    padding: 2rem 1rem;
    margin: 0rem 0.5rem;
    border: 1px solid #333;
    color: #333;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.spanPrev:hover,
.spanNext:hover{
    transform: scale(1.05);
}

.roll{
    display: flex;
    width: 48rem;
    height: auto;
}

.roll img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.certificate-page{
    text-align: center;
    margin: 0rem auto;
    padding: 0.3rem;
    font-size: 1.1rem;
    width: 44%;
    background-color: #333;
    color: #ffffff;
}