.certificate-container {
    display: flex;
    flex-direction: column;
    user-select: none;
    -webkit-user-drag: none;
    width: 80%; /* Ajustement pour les petits écrans */
    max-width: 800px;
    margin: 0px auto;
}

.certificate-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.spanPrev,
.spanNext {
    padding: 40px 10px; /* Réduction du padding sur petits écrans */
    margin: 0px 5px;
    border: 1px solid #333;
    color: #333;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.spanPrev:hover,
.spanNext:hover {
    transform: scale(1.05);
}

.certificate-slider img {
    width: 100%;
    max-width: 700px;
    height: auto;
    object-fit: contain;
}

.certificate-page {
    text-align: center;
    margin: 10px auto;
    width: 85%;
    max-width: 700px;
    font-size: 1.1rem;
    background-color: #333333a1;
    border-radius: 3px;
    color: #ffffff;
}

/* Responsive pour les petits écrans (smartphones) */
@media (max-width: 600px) {
    .spanPrev,
    .spanNext {
        padding: 20px 5px; /* Réduction supplémentaire du padding */
        font-size: 1rem;   /* Réduction de la taille de la police */
    }

    .certificate-page {
        font-size: 1rem; /* Réduction de la taille de la police */
        width: 100%;
    }
}
