*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body{
    font-family:'Open Sans', Arial, sans-serif;
    color: #333;
    font-size: 1.08rem;
    background-color: #ffffff;
}

header{
    display: flex;
    flex-direction: column;
    background-image: url('../background-img/header-bg.jpg');
    background-size: cover;
}

.span-container{
    display: flex;
    padding: 5px 5px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.span-container h3{
    display: flex;
    width: 97%;
    font-size: 1.5rem;
    padding: 5px;
    color: #fff;
}

.span-container span{
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    font-size: 1.5rem;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    width: 3%;
    font-weight: 600;
}

.nav-container nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    width: 100%;
    padding: 10px 0px;
}

.nav-container nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
    margin: 5px 10px;
    background-color: #fff;
    width: 200px;
    color: #333;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    transition: transform 0.3s ease-out;
    text-decoration: none;
}

.nav-container nav a:hover{
    transform: scale(1.05);
}

.nav-container{
    display: none;
}

.nav-container-show{
    display: flex;
}

main div img{
    width: 80%;
    height: auto;
    object-fit: cover;
}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
    background-image: url(../background-img/certificates-bg.jpg);
}

main div{
    margin: 10px;
    padding: 10px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

@media(width<700px){
    main div img{
        width: 100%;
        height: auto;
    }
}