header{
    display: flex;
    background-image: url('../background-img/header-bg.jpg');
    background-size: cover;
    align-items: center;
    padding: 5px;
    flex-direction: row-reverse;
}

.menu-container{
    position: relative;
}

.menu{
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #f5f5f5;
    font-size: 1.2rem;
}

.menu-container:hover .header-nav {
    display: flex;
}

.header-nav{
    position: absolute;
    padding: 20px;
    display: none;
    flex-direction: column;
    top: 0px;
    right: 0px;
    z-index: 1;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 5px;
}

.header-nav a{
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
