/* Main */
main {
    flex: 1;
}

/* about and skills */

.about-ctn,
.skills-ctn {
    text-align: center;
    padding: 40px 10px;
    max-width: 600px;
    margin: 0 auto;
}

.about-ctn h2,
.skills-ctn h2 {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {

    .about-ctn,
    .skills-ctn {
        max-width: 300px;
    }

}

.skills-ctn ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skills-ctn ul li {
    padding: 5px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: rgb(222, 96, 117);
    color: #ffffff;
}

/*Certificates*/
.certificates h2 {
    text-align: center;
}

.certificates-ctn {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 40px 0px;
    gap: 10px;
}

.certificates-ctn img {
    width: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    border-radius: 5px;
}

/* projects */
.projects {
    padding: 40px 10px;
    text-align: center;
}

.projects h2 {
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    grid-auto-rows: max(300px);
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card p {
    flex: 1;
}

.card a {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(18, 169, 18);
    color: white;
    text-decoration: none;
}