.nav{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1;
}
.nav:hover .content {
    display: flex;
}

label {
    cursor: pointer;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
}

input {
    display: none;
}

input:checked+.content {
    display: flex;
}

input[type="checkbox"]:not(:checked)+.content {
    display: none;
}

.content {
    position: absolute;
    right: 0;
    padding: 10px 20px;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
    text-align: right;
    display: none;
    flex-direction: column;
    z-index: 1;
}

.content a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}

.content a:hover {
    text-decoration: underline;
}