.projects-list-head{
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.367);
}

.projects-list{
    display: flex;
    flex-direction: column;
}

.pokedex h2{
    padding: 10px;
}

.pokedex img{
    object-fit: cover;
}