.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px 0px;
    gap: 40px;
    margin: 0 auto;
    background-image: url('../background-img/skills-list-bg.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
}

.blur-line2{
    position: absolute;
    top: -6px;
    left: 0;
    padding: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
}

.html-about,
.css-about,
.javascript-about,
.python-about,
.typescript-about{
    padding: 5px;
}

.html-about h2,
.css-about h2,
.javascript-about h2,
.python-about h2,
.typescript-about h2{
    padding: 5px;
    text-align: center;
}

.html-about p,
.css-about p,
.javascript-about p,
.python-about p,
.typescript-about p{
    padding: 1% 5%;
    font-size: 1.2rem;
    text-align: center;
}
