.skills-container{
    padding: 20px;
    margin: 0 auto;
    background-image: url('../background-img/certificates-bg.jpg');
    background-size: auto;
    background-position: center;
    color: #fff;
    margin-top: 10px;
}

.skills-list{
    display: flex;
    justify-content: center;
}

.skills-list div{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.skill-logo{
    width: 50%;
    object-fit: contain;
}

.skill-title{
    padding: 10px;
    text-align: center;
}
