*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body{
    font-family:'Open Sans', Arial, sans-serif;
    color: #333;
    font-size: 1.08rem;
    background-color: #ffffff;
}

img{
    object-fit: contain;
}

.profil-container{
    position: relative;
}

.profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url('../background-img/profil-bg.png');
    background-size: cover;
    background-position: center;
}

.profil-about{
    padding: 10px;
    text-align: center;
}

.profil-about h3{
    padding: 5px;
}

.profil-about p{
    font-size: 1.2rem;
    padding: 5px;
}

.reference{
    text-align: center;
    padding: 10px 0px;
    background-color: beige;
}

footer{
    background-color: rgba(0, 0, 255, 0.619);
}

footer p{
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 1.1rem;    
}