*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body{
    font-family:'Open Sans', Arial, sans-serif;
    color: #333;
    font-size: 1.08rem;
    background-color: #ffffff;
}

img{
    object-fit: contain;
}

.profil-container{
    position: relative;
}

.profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7rem;
    background-image: url('../background-img/profil-bg.png');
    background-size: cover;
    background-position: center;
}

.profil-about{
    padding: 0.8rem;
    text-align: center;
}

.profil-about h3{
    padding: 0.3rem;
}

.profil-about p{
    font-size: 1rem;
    padding: 0.3rem;
}

.reference{
    text-align: center;
    padding: 0.6rem 0rem;
    background-color: beige;
}

footer{
    background-color: rgba(0, 0, 255, 0.619);
}

footer p{
    color: #ffffff;
    text-align: center;
    padding: 1.8rem;
    font-size: 1.1rem;    
}

@media(width< 768px){
    .profil-picture{
        height: 12rem;
        width: 12rem;
    }

    .html img,
    .css img,
    .javascript img,
    .python img,
    .typescript img{
        height: 8rem;
    }
}