@media (width< 678px) {

    header{
        background-color: #ffffff;
    }

    header span{
        display: flex;
        align-items: center;
        font-size: 2rem;
        margin: 0px 5px;
        cursor: pointer;
        width: max-content;        
    }

    header nav{
        display: none;
        height: auto;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0;
    }

    .nav-show{
        display: flex;
    }

    button{
        font-size: 1.06rem;
        padding: 5px;
        margin: 5px 0px;
    }

    .name,
    section{
        margin: 0px 10px;
    }

    .name{
        margin-top: 50px;
    }
    
    ul{
        width: auto;
    }
}