*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    overflow-x: hidden;
    background-color: rgba(245, 222, 179, 0.556);
}

.no-scroll {
    overflow: hidden;
}

/* Main */
main {
    flex: 1;
}