*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    background-color: wheat;
}